<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traveler Forecast</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Traveler Forecast</h1>
        </div>
    </header>
    <main>
        <section class="intro">
            <h1>Welcome to Traveller Forecast</h1>
            <h1>Planning a trip somewhere?</h1>
            <p>Traveller Forecast is a web-based application that show you the forecast of the city where you are travelling to</p>
            <h1>No more worrying about bad weather</h1>
        </section>
        <section>
            <form class="form">
                <input type="text" placeholder="Enter city" class="city-text" required>
                <br>
                <input type="date" class="date">
                <input type="submit" value="Submit" class="submit-button">
            </form>
        </section>
        <section id="result">
            <div class="message1">
                <h1 class="message1-location"></h1>
            </div>  
            <div class="message2">
                <h1 class="message2-forecast-data"></h1>
            </div>
            <div class="message3">
                <img src="" alt="" class="message3-image">
            </div>
        </section>
    </main>
    <footer>
        <h1>Created by Tien Nguyen</h1>
    </footer>
    <script>
        if('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            });
        }
    </script>   
</body>
</html>